.centered-card {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.card-action.single-action a {
    margin-right: 0;
}

.card .card-content.spacey p:not(:last-child) {
    margin-bottom: 15px;
}

