@import "_partials";

.footer {
  margin: $gutter;
  padding: 1.5em 0;

  &__link {
    margin-right: 1.5em;
    font-size: 1.15em;
    color: $link-color;
  }
}

.privacy {
  @extend .modal;
  &__trigger {
    @extend .modal-trigger;
  }
  &__content {
    @extend .modal-content;
  }
}
