@import "{poetic:materialize-scss}/sass/materialize.scss";
@import "_partials";
@import "navigation";
@import "prompt";
@import "footer";
body {
  display: flex;
  min-height: 100vh;
  flex-flow: column;
  flex-wrap: wrap;
  background: $secondary-color;
  color: $black;
}
header {
  padding: $gutter;
  background-color: $primary-color;
  border-bottom: 1px solid darken($primary-color, 10%);

  h1 {
    color: lighten($primary-color, 20%);
    font-size: 3em;
  }
}
.main-content {
  flex-grow: 3;
  padding: $gutter;
  box-shadow: inset 0 2px 2px 0 rgba($black,.25);
  background: $white;
}
