@import "{poetic:materialize-scss}/sass/materialize.scss";
@import "_partials";
@import "navigation";
@import "prompt";
@import "footer";


body {
  display: flex;
  min-height: 100vh;
  flex-flow: column;

  background: $secondary-color;
  color: $black;
}
ol, ul {
  margin: 0;
  padding: 0;
}

.main-content {
  padding: $gutter;
  box-shadow: inset 0 2px 2px 0 rgba($black,.25);
  background: $white;
}
