@import "_partials";

#update-prompt-form {
  margin: 3em 0;
  padding: 1em;

  &:hover {
    border: 2px solid $light-green;
  }

  .prompt {
    display: flex;
    flex-flow: row wrap;

    input {
      padding: 0 .75em;
      width: auto;
      flex-grow: 2;
    }
    &__remove {
      @extend .btn-floating;
      background-color: $light-gray;
      margin-left: 2em;
      &:hover {
        background-color: $red;
      }
    }
  }

  .sample-response {
    color: $light-gray;
    padding: 0 1.5em;

    input {
      padding: 0 0.75em;
    }
  }
}