$primary: #369C8E;
$secondary: #4C4C4B;
$cta: #FF9178;
$link: #B9EBB9;
$white: lighten($primary, 60%);
$black: darken($secondary, 20%);

html
{
	font-family: sans-serif;

}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: $secondary;
  color: $black;
}

header
{
	background-color: $primary;
	order: 1;
	border-bottom: 1px solid darken($primary, 10%);
	z-index:0;
	letter-spacing: 1px;

	h1
	{
		color: lighten($primary, 20%);
		font-size: 3em;
		margin-bottom: .25em;
		padding-left: .125em;
	}

	.row
	{
		z-index: 1;
		margin-bottom: 0;
	}

	li
	{
		line-height: 3em;
		margin-bottom: -3px;

		a
		{
			font-size: 1.25em;
			color: lighten($link, 10%);
		}
	}

	.active
	{
		border-bottom: 4px solid $link;
	}
}

.main-content {
	box-shadow: inset 0 2px 2px 0 rgba($black,.25);
	background: $white;
  order: 2;
}

footer
{
	letter-spacing: 1px;
	width: 100%;
	display: flex;
	order:3;

	a
	{
		font-size: 1.15em;
		color: $link;
	}
}