@import "../.meteor/local/build/programs/server/assets/packages/poetic_materialize-scss/bower_components/materialize/sass/materialize.scss";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  padding: 1.5em;
  flex: 1 0 auto;

}

.page-header {
  display: inline-block;
  float: left;
}

.clearfix:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}
