.create-survey__form,
.create-survey__update-form {
  padding: .25em .5em;
  margin-left: 1em;
}

.create-survey__form input,
.create-survey__update-form input {
  width: 80%;
}

.prompt-list {
  margin: 0;
  padding: 0;
}

.prompts-list__header {
  font-size: 1.25em;
  font-weight: bold;
  text-decoration: underline;
}

.preview-form {
  float: right
}
