.prompt-list {
  padding: .25em .5em;
  list-style-position: inside;
  margin-left: 1em;
}

.prompts-list__header {
  font-size: 1.25em;
  font-weight: bold;
  text-decoration: underline;
}

.preview-form {
  float: right
}
