%base-button {
    @extend .btn;
    @extend .waves-effect;
    @extend .waves-light;
    @extend .modal-trigger;
    background-color: $secondary-color;
    text-align: center;
    text-transform: capitalize;
}
