@import "_partials";

#update-prompt-form {
  margin: 3em 0;
  padding: 1em;
  border: 2px solid transparent;

  &:hover {
    border-color: $light-green;
  }

  .prompt {
    display: flex;
    flex-flow: row wrap;

    .prompt-text {
      margin-right: 1em;
      width: auto;
      flex-grow: 2;
    }
    &__remove {
      @extend .btn-floating;
      background-color: $light-gray;
      margin-left: 2em;
      &:hover {
        background-color: $red;
      }
    }
  }

  .prompt-type-preview {
    display: flex;
    flex-flow: row-reverse wrap;
  }

  .sample-response {
    width: auto;
    flex-grow: 2;
    color: $light-gray;
    padding: 0 1.5em;
  }
}
